﻿@model IEnumerable<string>
<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    Home
</a>


@foreach (string category in Model)
{
<a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="@category"
   asp-route-productPage="1">
    @category
</a>
}